
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="DigitalMarket">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title DigitalNetwork</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="dashboardController">

    <!-- angular templating -->
    <!-- this is where content will be injected -->

    <section class="vbox">
        <header class="bg-dark dk header navbar navbar-fixed-top-xs">
            <div class="navbar-header aside-md">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="#" class="navbar-brand" data-toggle="fullscreen"><img src="images/logo.png" class="m-r-sm">Notebook</a>
                <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <ul class="nav navbar-nav hidden-xs"></ul>
            <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">





                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle dker" data-toggle="dropdown"><i class="fa fa-fw fa-search"></i></a>
                    <section class="dropdown-menu aside-xl animated fadeInUp">
                        <section class="panel bg-white">
                            <form role="search">
                                <div class="form-group wrapper m-b-none">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </section>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-left">
                            <img src="images/avatar.jpg">
                        </span>
                        John.Smith <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <span class="arrow top"></span>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <a href="profile.html">Profile</a>
                        </li>

                        <li>
                            <a href="docs.html">Help</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="modal.lockme.html" data-toggle="ajaxModal">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-dark lter aside-md hidden-print" id="nav">
                    <section class="vbox">

                        <section class="w-f scrollable">
                            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

                                <!-- nav -->
                                <nav class="nav-primary hidden-xs">
                                    <ul class="nav">
                                        <li class="active">
                                            <a href="#" class="active">
                                                <i class="fa fa-dashboard icon">
                                                    <b class="bg-danger"></b>
                                                </i>
                                                <span>Overview</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!/realtime" class="active">
                                                <i class="fa fa-signal icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span>RealTime</span>
                                            </a>
                                        </li>



                                        <li>
                                            <a href="#!/traffic">
                                                <i class="fa fa-bar-chart-o icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span>Traffic</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#!/articles">
                                                <i class="fa fa-pencil-square-o icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span>Articles</span>
                                            </a>
                                        </li>


                                        <li>
                                            <a href="#!/userdata">
                                                <i class="fa fa-user  icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span>User Data</span>
                                            </a>
                                        </li>


                                       





                                    </ul>
                                </nav>
                                <!-- / nav -->
                            </div>
                        </section>

                        <footer class="footer lt hidden-xs b-t b-dark">
                            <div id="chat" class="dropup">
                                <section class="dropdown-menu on aside-md m-l-n">
                                    <section class="panel bg-white">
                                        <header class="panel-heading b-b b-light">Active chats</header>
                                        <div class="panel-body animated fadeInRight">
                                            <p class="text-sm">No active chats.</p>
                                            <p><a href="#" class="btn btn-sm btn-default">Start a chat</a></p>
                                        </div>
                                    </section>
                                </section>
                            </div>
                            <div id="invite" class="dropup">
                                <section class="dropdown-menu on aside-md m-l-n">
                                    <section class="panel bg-white">
                                        <header class="panel-heading b-b b-light">
                                            John <i class="fa fa-circle text-success"></i>
                                        </header>
                                        <div class="panel-body animated fadeInRight">
                                            <p class="text-sm">No contacts in your lists.</p>
                                            <p><a href="#" class="btn btn-sm btn-facebook"><i class="fa fa-fw fa-facebook"></i> Invite from Facebook</a></p>
                                        </div>
                                    </section>
                                </section>
                            </div>
                            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
                                <i class="fa fa-angle-left text"></i>
                                <i class="fa fa-angle-right text-active"></i>
                            </a>

                        </footer>
                    </section>
                </aside>
                <div id="main">
                    <!-- angular templating -->
                    <!-- this is where content will be injected -->
                    <div ng-view></div>

                </div>

                <aside class="bg-light lter b-l aside-md hide" id="notes">
                    <div class="wrapper">Notification</div>
                </aside>
            </section>
        </section>
    </section>




    <!-- Bootstrap -->

    @Scripts.Render("~/bundles/scripts")
</body>
</html>
